.side-bar {
  width: 35%;
  max-width: 500px;
  height: 100%;

  padding: 3rem;

  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.4;

  color: #fdfdfd;
  background-color: #3c3c3c;

  &__section {
    margin-bottom: 3.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__photo {
    margin-bottom: 3rem;
  }
}
